{% extends '../base/base.html' %}

{% block title %}
登录
{% end %}

{% block main %}
<div class="alert alert-danger" role="alert">
  还没有账号的话，请先注册!
</div>
<div class="user">
    <form action="" method="post">
      <div class="form-group">
        <label for="exampleInputUsername1">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username" name="username">
        <small id="UsernameHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
      </div>
      {% if msg %}
      <p style="color: red">{{ msg }}</p>
      {% end %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% end %}